h1 {
    color: #FF8000;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 80px;
}

#submitForm {
    font-size: 18px;
    font-weight: bold;
    padding: 1% 20%;
}

#userText {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#messages {
    border-width: 2.5px;
    margin-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 50px;
}

.submittedText {
    background-color: #0080FF;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
    margin-bottom: 5px;
}

strong {
    font-size: 18px;
}

.submitButton:hover {
    background-color: grey;
}